.header-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 32%;
}

.header-filter {
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-content {
    justify-content: start;
    width: 100%;
  }

  .header-filter {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    flex-direction: column;
    margin: 0;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header-filter {
    gap: 0.5rem;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }
}
