.detail-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.detail-content {
  justify-content: center;
  align-self: center;
}

.review {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-self: center;
}
.review-container {
  border: solid 1.5px #808080;
}

.review-content {
  display: flex;
  justify-content: start;
  align-items: center;
}

.review-avatar {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
