.main-container {
  padding: 2rem;
}

.main-header {
  padding: 0 2.6rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  padding: 1rem;
}
